<section class="sg-body">

  <section class="sg-example" id="8.1">
    <h3>
      <a href="#8.1">8.1</a>
    </h3>
    <div class="sg-description">
      <h2>Set Vokabular</h2>
    </div>
    <div class="sg-canvases">

      <div class="align-left bg-light sg-canvas">
        <div style="">
          <div class="app-body-ui-container">
            <ul class="ui-tabs large">
              <li class="ui-tabs-item">
                <a href="">Set</a>
              </li>
              <li class="ui-tabs-item">
                <a href="">Übergeordnete Sets</a>
              </li>
              <li class="active ui-tabs-item">
                <a href="">Vokabular</a>
              </li>
            </ul>

            <div class="ui-container rounded-right rounded-bottom tab-content bordered">
              <div class="bright ui-container pal rounded-top">
                <div class="row">
                  <div class="col2of3">

                    <div class="dropdown ui-dropdown $modifier-class">
                      <h2 class="dropdown-toggle ui-drop-toggle title-l link separated light mbm" data-toggle="dropdown">An inactive vocabulary name <i class="icon-arrow-down"></i></h2>
                      <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel" style="top: 100%; bottom: auto;">
                        <li class="ui-drop-item">
                          <a>An active vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">An inactive vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">Yet another inactive vocabulary</a>
                        </li>
                      </ul>
                    </div>

                    <p>Set vocabulary description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipcia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col1of3 by-right">
                    <a class="button"><i class="icon-checkmark"></i> Enable</a>
                    <a class="button mls"><i class="icon-eye"></i> View</a>
                  </div>
                </div>
              </div>

              <div class="ui-container inverted ui-toolbar pvx">
                <h2 class="ui-toolbar-header pls">
                  Vokabular bezieht sich auf [number] Medieneinträge. Davon sind [number] beschlagwortet.
                </h2>
              </div>

              <div class="ui-container midtone rounded-bottom">
                <div class="ui-filterbar separated ui-container by-center">
                  <div class="button-group">
                    <a class="button active">Alle Begriffe</a>
                    <a class="button">Vergebene</a>
                    <a class="button">Häufigste</a>
                  </div>
                </div>

                <div class="ui-terms-filter separated mhm" style="display: none">
                  <div class="ui-terms-filter-label-holder left by-center">
                    <span class="title-s">Häufigkeit auswerten <span class="ui-form-ui-ttip-toggle ui-ttip-toggle" data-original-title="Tooltip Content." data-placement="bottom" rel="tooltip"><i class="icon-question mid"></i></span></span>
                  </div>
                  <div class="ui-terms-filter-slider-holder ptx">
                    <div class="ui-slider">
                      <a class="ui-slider-handle"><span class="ui-slider-info ui-container inverted">min. 2 x vergeben</span></a>
                    </div>
                  </div>
                  <div class="ui-terms-filter-note-holder by-center right">
                    Max. 140
                  </div>
                </div>

                <div class="ui-resources-holder pam">

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Landschaftstyp <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Naturlandschaft">
                            Naturlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Erholungszone">
                            Erholungszone
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Parklandschaft">
                            Parklandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Stadtlandschaft">
                            Stadtlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Tourismusgebiet">
                            Tourismusgebiet
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Agglomeration">
                            Agglomeration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gebirgslandschaft">
                            Gebirgslandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landwirtschaft">
                            Landwirtschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Siedlungsgebiet">
                            Siedlungsgebiet
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="weiss">
                            weiss
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelb">
                            Gelb
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Blautöne">
                            Blautöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="braun">
                            braun
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Weisstöne">
                            Weisstöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Violetttöne">
                            Violetttöne
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <div class="h3 title-s-alt separated light mbx">Verwendungszweck <span class="title-xs-alt mlx">(a-z)</span></div>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Ausstellung">
                            Ausstellung
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Kunst">
                            Kunst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Architekturbild">
                            Architekturbild
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Computerspiel">
                            Computerspiel
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Illustration">
                            Illustration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Wettbewerb">
                            Wettbewerb
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Wetter/Klima <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Bewölkung/wolkig">
                            Bewölkung/wolkig
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nebel">
                            Nebel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Bildzeit <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Frühling">
                            Frühling
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Sommer">
                            Sommer
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Herbst">
                            Herbst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Winter">
                            Winter
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Mittag">
                            Mittag
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nacht">
                            Nacht
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Bildwirkung <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="idyllisch">
                            idyllisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="friedlich">
                            friedlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="kühl">
                            kühl
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="modern">
                            modern
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Erhabenheit">
                            Erhabenheit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Einsamkeit">
                            Einsamkeit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="technisch">
                            technisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="unfreundlich">
                            unfreundlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="utopisch">
                            utopisch
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Genre <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Objekt">
                            Objekt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Porträt">
                            Porträt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Punk Rock">
                            Punk Rock
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landschaft">
                            Landschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Stadt">
                            Stadt
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div> <!-- // ui resource holder -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################ -->

      <div class="align-left bg-light sg-canvas">
        <div style="">
          <div class="app-body-ui-container">
            <ul class="ui-tabs large">
              <li class="ui-tabs-item">
                <a href="">Set</a>
              </li>
              <li class="ui-tabs-item">
                <a href="">Übergeordnete Sets</a>
              </li>
              <li class="active ui-tabs-item">
                <a href="">Vokabular</a>
              </li>
            </ul>

            <div class="ui-container rounded-right rounded-bottom tab-content bordered">
              <div class="bright ui-container pal rounded-top">
                <div class="row">
                  <div class="col2of3">

                    <div class="dropdown ui-dropdown $modifier-class">
                      <h2 class="dropdown-toggle ui-drop-toggle title-l link separated light mbm" data-toggle="dropdown">An active vocabulary name <i class="icon-arrow-down"></i></h2>
                      <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel" style="top: 100%; bottom: auto;">
                        <li class="ui-drop-item">
                          <a>An active vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">An inactive vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">Yet another inactive vocabulary</a>
                        </li>
                      </ul>
                    </div>

                    <p>Set vocabulary description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipcia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col1of3 by-right">
                    <a class="button"><i class="icon-close"></i> Disable</a>
                    <a class="button mls"><i class="icon-eye"></i> View</a>
                  </div>
                </div>
              </div>

              <div class="ui-container inverted ui-toolbar pvx">
                <h2 class="ui-toolbar-header pls">
                  Vokabular bezieht sich auf [number] Medieneinträge. Davon sind [number] beschlagwortet.
                </h2>
              </div>

              <div class="ui-container midtone rounded-bottom">
                <div class="ui-filterbar separated ui-container by-center">
                  <div class="button-group">
                    <a class="button">Alle Begriffe</a>
                    <a class="button active">Vergebene</a>
                    <a class="button">Häufigste</a>
                  </div>
                </div>

                <div class="ui-terms-filter separated mhm" style="display: none">
                  <div class="ui-terms-filter-label-holder left by-center">
                    <span class="title-s">Häufigkeit auswerten <span class="ui-form-ui-ttip-toggle ui-ttip-toggle" data-original-title="Tooltip Content." data-placement="bottom" rel="tooltip"><i class="icon-question mid"></i></span></span>
                  </div>
                  <div class="ui-terms-filter-slider-holder ptx">
                    <div class="ui-slider">
                      <a class="ui-slider-handle"><span class="ui-slider-info ui-container inverted">min. 2 x vergeben</span></a>
                    </div>
                  </div>
                  <div class="ui-terms-filter-note-holder by-center right">
                    Max. 140
                  </div>
                </div>

                <div class="ui-resources-holder pam">

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Landschaftstyp <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Naturlandschaft">
                            Naturlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Erholungszone">
                            Erholungszone
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Parklandschaft">
                            Parklandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Stadtlandschaft">
                            Stadtlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Tourismusgebiet">
                            Tourismusgebiet
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Agglomeration">
                            Agglomeration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gebirgslandschaft">
                            Gebirgslandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landwirtschaft">
                            Landwirtschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Siedlungsgebiet">
                            Siedlungsgebiet
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="weiss">
                            weiss
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelb">
                            Gelb
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Blautöne">
                            Blautöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="braun">
                            braun
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Weisstöne">
                            Weisstöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Violetttöne">
                            Violetttöne
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <div class="h3 title-s-alt separated light mbx">Verwendungszweck <span class="title-xs-alt mlx">(a-z)</span></div>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Ausstellung">
                            Ausstellung
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Kunst">
                            Kunst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Architekturbild">
                            Architekturbild
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Computerspiel">
                            Computerspiel
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Illustration">
                            Illustration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Wettbewerb">
                            Wettbewerb
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Wetter/Klima <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Bewölkung/wolkig">
                            Bewölkung/wolkig
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nebel">
                            Nebel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Bildzeit <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Frühling">
                            Frühling
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Sommer">
                            Sommer
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Herbst">
                            Herbst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Winter">
                            Winter
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Mittag">
                            Mittag
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nacht">
                            Nacht
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Bildwirkung <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="idyllisch">
                            idyllisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="friedlich">
                            friedlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="kühl">
                            kühl
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="modern">
                            modern
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="Erhabenheit">
                            Erhabenheit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Einsamkeit">
                            Einsamkeit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button disabled" title="technisch">
                            technisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="unfreundlich">
                            unfreundlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="utopisch">
                            utopisch
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Genre <span class="title-xs-alt mlx">(a-z)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Objekt">
                            Objekt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Porträt">
                            Porträt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Punk Rock">
                            Punk Rock
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landschaft">
                            Landschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Stadt">
                            Stadt
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div> <!-- // ui resource holder -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################
           ################ ################ ################ -->

      <div class="align-left bg-light sg-canvas">
        <div style="">
          <div class="app-body-ui-container">
            <ul class="ui-tabs large">
              <li class="ui-tabs-item">
                <a href="">Set</a>
              </li>
              <li class="ui-tabs-item">
                <a href="">Übergeordnete Sets</a>
              </li>
              <li class="active ui-tabs-item">
                <a href="">Vokabular</a>
              </li>
            </ul>

            <div class="ui-container rounded-right rounded-bottom tab-content bordered">
              <div class="bright ui-container pal rounded-top">
                <div class="row">
                  <div class="col2of3">

                    <div class="dropdown ui-dropdown $modifier-class">
                      <h2 class="dropdown-toggle ui-drop-toggle title-l link separated light mbm" data-toggle="dropdown">An active vocabulary name <i class="icon-arrow-down"></i></h2>
                      <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel" style="top: 100%; bottom: auto;">
                        <li class="ui-drop-item">
                          <a>An active vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">An inactive vocabulary</a>
                        </li>
                        <li class="ui-drop-item">
                          <a class="disabled">Yet another inactive vocabulary</a>
                        </li>
                      </ul>
                    </div>

                    <p>Set vocabulary description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipcia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col1of3 by-right">
                    <a class="button"><i class="icon-close"></i> Disable</a>
                    <a class="button mls"><i class="icon-eye"></i> View</a>
                  </div>
                </div>
              </div>

              <div class="ui-container inverted ui-toolbar pvx">
                <h2 class="ui-toolbar-header pls">
                  Vokabular bezieht sich auf [number] Medieneinträge. Davon sind [number] beschlagwortet.
                </h2>
              </div>

              <div class="ui-container midtone rounded-bottom">
                <div class="ui-filterbar separated ui-container by-center">
                  <div class="button-group">
                    <a class="button">Alle Begriffe</a>
                    <a class="button">Vergebene</a>
                    <a class="button active">Häufigste</a>
                  </div>
                </div>

                <div class="ui-terms-filter separated mhm">
                  <div class="ui-terms-filter-label-holder left by-center">
                    <span class="title-s">Häufigkeit auswerten <span class="ui-form-ui-ttip-toggle ui-ttip-toggle" data-original-title="Tooltip Content." data-placement="bottom" rel="tooltip"><i class="icon-question mid"></i></span></span>
                  </div>
                  <div class="ui-terms-filter-slider-holder ptx">
                    <div class="ui-slider">
                      <a class="ui-slider-handle"><span class="ui-slider-info ui-container inverted">min. 2 x vergeben</span></a>
                    </div>
                  </div>
                  <div class="ui-terms-filter-note-holder by-center right">
                    Max. 140
                  </div>
                </div>

                <div class="ui-resources-holder pam">

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Landschaftstyp <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Naturlandschaft">
                            Naturlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Erholungszone">
                            Erholungszone
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Parklandschaft">
                            Parklandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Stadtlandschaft">
                            Stadtlandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Tourismusgebiet">
                            Tourismusgebiet
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Agglomeration">
                            Agglomeration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gebirgslandschaft">
                            Gebirgslandschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landwirtschaft">
                            Landwirtschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Siedlungsgebiet">
                            Siedlungsgebiet
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="weiss">
                            weiss
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelb">
                            Gelb
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Blautöne">
                            Blautöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="braun">
                            braun
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Weisstöne">
                            Weisstöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Violetttöne">
                            Violetttöne
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <div class="h3 title-s-alt separated light mbx">Verwendungszweck <span class="title-xs-alt mlx">(rank)</span></div>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Ausstellung">
                            Ausstellung
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Kunst">
                            Kunst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Architekturbild">
                            Architekturbild
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Computerspiel">
                            Computerspiel
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Illustration">
                            Illustration
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Wettbewerb">
                            Wettbewerb
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Wetter/Klima <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Bewölkung/wolkig">
                            Bewölkung/wolkig
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nebel">
                            Nebel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Bildzeit <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Frühling">
                            Frühling
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Sommer">
                            Sommer
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Herbst">
                            Herbst
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Winter">
                            Winter
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Mittag">
                            Mittag
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Nacht">
                            Nacht
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Bildwirkung <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="idyllisch">
                            idyllisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="friedlich">
                            friedlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="kühl">
                            kühl
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="modern">
                            modern
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Erhabenheit">
                            Erhabenheit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Einsamkeit">
                            Einsamkeit
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="technisch">
                            technisch
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="unfreundlich">
                            unfreundlich
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="utopisch">
                            utopisch
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1of4">
                    <div class="ui-metadata-box prl mbm">
                      <h3 class="title-s-alt separated light mbx">Farbe <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Oker">
                            Oker
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Grüntöne">
                            Grüntöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Gelbtöne">
                            Gelbtöne
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="hellblau">
                            hellblau
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ui-metadata-box prl">
                      <h3 class="title-s-alt separated light mbx">Genre <span class="title-xs-alt mlx">(rank)</span></h3>
                      <ul class="ui-tag-cloud small ellipsed compact">
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Objekt">
                            Objekt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Porträt">
                            Porträt
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Punk Rock">
                            Punk Rock
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Landschaft">
                            Landschaft
                          </a>
                        </li>
                        <li class="ui-tag-cloud-item">
                          <a class="ui-tag-button" title="Stadt">
                            Stadt
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div> <!-- // ui resource holder -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</section>